DATABASE_URL="postgres://postgres:postgres@localhost:5432/nest-app-template"
JWT_ACCESS_SECRET="N0t5oSecret"
JWT_REFRESH_SECRET="N0t5oFre5h"
THROTTLE_TTL=60
THROTTLE_LIMIT=10
# Ports
POSTGRES_PORT=54321
MONGODB_PORT=27018
ADMINER_PORT=4040